{% extends 'base.html.twig' %}

{% block body %}
    {% if note.state == constant('ACCEPTED', note) %}
        <div class="alert alert-success" role="alert">
            <strong>Approved!</strong> This note has successfully been approved.
        </div>
    {% endif %}
    <div class="row">
        <div class="col col-md-10" style="display: flex; align-items: center;"><h4 class="pagination-centered">Review Note:</h4></div>
        <div class="col-6 col-md-2"><button id="correct" type="button" class="btn btn-info">Export PDF</button></div>
    </div>

    <hr/>
    <form name="form" method="post" class="container form" id="noteform" action="edit/{{ note.uuid }}">
        <h5>Patient Name:</h5> <p>{{ note.patient.firstName }} {{ note.patient.lastName }}</p>
        <h5>Note Creation Date:</h5> <p>{{ note.createdAt|date("m/d/Y") }}</p>
        <h5>Submitted By:</h5> <p>{{ note.staff.firstName }} {{ note.staff.lastName }}</p>
        <h5>Content:</h5>
        <textarea id="content" name="content" required="required" rows="20" class="form-control" style="display: none;margin-bottom:5px;"></textarea>
        <p id="contentp">{{ note.content }}</p>
        <button type="submit" id="submit" class="btn btn-success" style="display: none;">Edit and Approve!</button>
        <h5>Signature on Note:</h5> <p><img src="{{ note.signature }}" alt="Note signature"/></p>
    </form>
    {% if note.state != constant('ACCEPTED', note) %}
        <a href="approve/{{ note.uuid }}">
            <button id="submitdb" type="button" class="btn btn-success">Submit to Database</button>
        </a>
        <button id="edit" type="button" class="btn btn-info">Edit and Submit Note</button>
        <button id="correct" type="button" class="btn btn-warning">Send Back for Correction</button>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).on("click", "#correct", function(){
            // TODO: Force the addition of and add handlers for comments here.
        });
        // Handles the edit button.
        $(document).on("click", "#edit", function(){
            // We get the text from the paragraph, add it to the content textarea.
            // Then we hide the paragraph, show the textarea and the submit button.
            $('#content').text($("#contentp").text());
            $("#contentp").hide();
            $("#content").show();
            $("#submit").show();
        });
    </script>
{% endblock %}