{% extends 'base.html.twig' %}
{% block title %}Body Check Form{% endblock %}
{% block body %}
    <!-- <img src="image.jpg" alt="Sedon" width="450" height="200">  -->
    <canvas id="bodycheck" width="673" height="514" style="margin-top: 10px;"></canvas>
    <button href="#" onclick='bodyclear()'>Clear</button>
    <form id="bodyForm" name="bodyForm" action="BodyCheckServlet" method="post" style="padding-top: 40px;">
        Patient First Name:<br>
        <input type="text" name="firstName"><br>
        Patient Last Name:<br>
        <input type="text" name="lastName"><br>
        Explain what happened:<br>
        <textarea name="what" rows="4" cols="50"></textarea><br>
        Where did it happen:<br>
        <input type="text" name="where"><br>
        When did it happen:<br>
        <input type="text" name="when"><br>
        Why did it happen:<br>
        <textarea name="why" rows="4" cols="50"></textarea><br>
        What did you do? Describe First Aid administered and follow up:<br>
        <textarea name="firstAid" rows="4" cols="50"></textarea><br>
        Recommendations for follow up: (Admin Only)<br>
        <textarea name="recommend" rows="4" cols="50"></textarea><br>

        <canvas id="signature" width="710" height="149" style="margin-top: 5px; border:2px solid;"></canvas>
        <input type="button" value="Clear Signature" style="top:180px; background:white; border:2px solid;" onclick="Sclear()">

        <br><br>
        <input type="submit" onClick="save()" value="Submit"/> <input type="reset" value="Clear"/>
        <input type="hidden" name="bodyData" id="bodyData" value="">
        <input type="hidden" name="sigData" id="sigData" value="">
    </form><br>
    <button onclick="myFunction()">Help</button>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery.jqscribble.js') }}"></script>
    {#<script src="{{ asset('bodycheck.js') }}"></script>#}
    <script>
        $(document).ready(function () {
            $("#bodycheck").jqScribble();
            $("#bodycheck").data("jqScribble").update({backgroundImage: "{{  asset('check.png') }}"});
            // Need to edit jqscribble to fix this issue. TODO: Troubleshoot and remove the timeout.
            setTimeout(function () {
                $("#signature").jqScribble();
                $("#signature").data("jqScribble").update({backgroundImage: "{{  asset('sigImg.png') }}"});
            }, 10);
        });

        function bodyclear() {
            $("#bodycheck").data("jqScribble").clear();
            $("#bodycheck").data("jqScribble").update({backgroundImage: "{{  asset('check.png') }}"});
        }

        function Sclear() {
            $("#signature").data("jqScribble").clear();
            $("#signature").data("jqScribble").update({backgroundImage: "{{  asset('sigImg.png') }}"});
        }

        //  This is the actual way to save the canvas (base64) - can save this to a variable and POST it.
        //  var bodycanv = document.getElementById('bodycheck');
        //  console.log(bodycanv.toDataURL())

        // TODO: Replace this.
        function myFunction() {
            alert(
                "1.Mark on the chart below any abnormities observed\n2.Enter Participant name in the field provided (First name and last name) \n3.In the Explain what happened section, please type out how Participant received any abnormalities\n4.In the Where / When section, please type out Where & When Participant received any abnormalities\n5.In the What did you do? Describe First Aid administered and follow up section, please type out exactly what First Aid was administered and what steps were taken to follow up\n6.In the Recommendations for follow up section, only if you are an Admin, please type in any recommendations you have for the participant\n7.Enter your name in the field provided\n8.Sign the signature box with the mouse\n11.Select date from the Date Picker\n");
        }
    </script>
{% endblock %}