{% extends 'base.html.twig' %}
{% block title %}Patients Page{% endblock %}
{% block body %}

    <table id="patients" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Insurance</th>
            <th>Manage</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Insurance</th>
            <th>Manage</th>
        </tr>
        </tfoot>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.insurance }}</td>
                <td>
                    <!-- Example split danger button -->
                    <div class="btn-group">
                        <a role="button" class="btn btn-primary" href="{{ patient.id }}">View</a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">Create</h6>
                            <a class="dropdown-item" href="#">Internal Incident</a>
                            <a class="dropdown-item" href="#">Body Check</a>
                            <a class="dropdown-item" href="#">Bowl Movement</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Manage Data</h6>
                            <a class="dropdown-item" href="#">Archive</a>
                        </div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#patients').DataTable();
        });
    </script>
{% endblock %}