<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient {{patient.id}}</title>
</head>
<body>
<b>ID: {{ patient.id }}</b><br/>
First Name: {{ patient.firstName }}<br/>
Last Name: {{ patient.lastName }}<br/>
Insurance: {{ patient.insurance }}<br/>
</body>
</html>