{% extends '@App/base.html.twig' %}

{% block body %}
    <p>Below is the form for creating users. Can only be accessed by the Administrator Role.</p>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.roles) }}
    <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}