{% extends 'base.html.twig' %}

{% block body %}
    <section id="form-template">
        <h2 style="font-size:33px">{{ block('title') }}</h2>
        <hr/>

        <form action="/form/{{ note.uuid }}/submit/{{ type }}" method="post">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Date & Time</label>
                <div class="col-md-4">
                    <input name="form_date" class="form-control" type="date" value="{{ date()|date("Y-m-d") }}">
                    <small class="form-text text-muted">Month/Day/Year</small>
                </div>
                <div class="col-md-4">
                    <input name="form_time" id="form_time" class="form-control" type="time">
                    <small id="form_date" class="form-text text-muted">Time</small>
                </div>
            </div>

            {% block form %}{% endblock %}

            <div>
                <canvas id="signature"></canvas>
                <input type="hidden" id="sigData" name="form_sigData">
                <br/>
                <input type="button" value="Clear Signature" class="signature-clear" onclick="clearSignatureCanvas()">
            </div>

            <br/>

            <input type="submit" onClick="save()" value="Submit"/>
        </form>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery.jqscribble.js') }}"></script>
    <script>
        var signatureCanvas = $("#signature");
        var signatureDataField = ('#sigData');

        function clearSignatureCanvas() {
            signatureCanvas.data("jqScribble").clear();
            signatureCanvas.data("jqScribble").update({backgroundImage: "{{ asset('sigImg.png') }}"});
        }

        $("form").submit(function (event) {
            signatureDataField.val(
                signatureCanvas.get(0).toDataURL()
            );
        });

        $(document).ready(function () {
            clearSignatureCanvas();
            $('*[name^="form"]').prop('required', true);

            {% if data %}
            // If there is data, that means we're viewing it so we can make some changes to the template.
            var data = {{ data|json_encode()|raw }};
            // Hide the Submit/Clear button and turn all inputs to disabled within the form.
            $('input:submit, input[type="reset"], button[type="help"], button[type="clear"]').hide();
            // Iterate over array and fill inputs as needed.
            $.each(data, function (key, value) {
                $('*[name="' + key + '"]').val(value).attr('disabled', 'disabled');
            });
            {% endif %}
        });
    </script>
{% endblock %}